/*---------main--------------*/
/*---------intor-------------*/
	.intor{
		position: fixed;
		width: 360px;
		height: 100vh;
		padding: 75px 22px 30px;
		top: 0;
		left: 0;
		box-shadow: 0 5px 10px rgba(0,0,0,.15);
		background-color: #fff;
		z-index: 2;
	}
	.intor .box{
		position: relative;
		height: 100%;
	}
	.intor .underline{
		border-bottom: 1px solid #f3f3f3;
		padding: 6px 0;
	}
	.intor .title h3{
		font-size: 1.5rem;
	}
	.intor .category {
		color: #aaa;
	}
	.intor .category p{
		font-size: .9rem;
	}
	.intor .link{
		position: relative;
		color: #F8B62D;
		padding-left: 30px;
	}
	.intor .link:before{
		content: "";
		position: absolute;
		width: 20px;
		height: 20px;
		top: 0;
		bottom: 0;
		margin: auto 0;
		left: 0;
		/*border: 1px solid #ddd;*/
		background-image: url(../img/icon/openLink.svg);
		background-size: cover;
	}
	.intor .link a{
		display: block;
		font-size: .9rem;
	    line-height: 2em;
	    letter-spacing: .1em;
	    word-break: break-all
	}
	.intor .description b{
		display: block;
		font-weight: 500;
		margin: 10px 0 3px;
	}
	.intor .description p{
		font-size: .9rem;
	}
	.intor .belong{
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.intor .belong .btn{
		margin-top: 15px;
	}
	.intor .belong_list li{
		line-height: 1em;
	}
	.intor .belong_list p,
	.intor .belong_list a{
		display: inline-block;
		font-size: .85rem;
	}
	.intor .belong_list p{
		opacity: .6;
	}
	.intor .belong_list a{
		margin-left: 6px;
	}
	@media screen and (min-width: 1441px){
		.intor{
			width: 450px;
		}
	}
	@media screen and (min-width: 1921px){
		.intor{
			width: 550px;
			padding: 75px 30px 40px;
		}
	}
	@media screen and (max-width: 1280px){
		.intor{
			width: 300px;
		}
	}
	@media screen and (max-width: 1023px){
		.intor{
			width: 270px;
			padding: 65px 18px 30px;
		}
	}
	@media screen and (max-width: 768px){
		.intor{
			position: relative;
			width: 100%;
			height: auto;
			padding: 55px 18px 14px;
		}
		.intor .belong{
			position: relative;
		}
		.intor .belong_list{
			padding-top: 10px;
		}
		.intor .belong_list li{
			display: inline-block;
			margin-right: 18px;
		}
		.intor .belong .btn{
			display: none;
		}
		.intor .description b{
			display: none;
		}
	}
	@media screen and (max-width: 420px){
		.intor .belong_list {
		    padding-top: 5px;
		}
	}
/*---------info--------------*/
	.info{
		min-height: 100vh;
		background-color: #EFEFEF;
		margin-left: 360px;
		padding: 75px 25px;
	}
	.info .photoBox{
		padding: 10px 0;
	}
	.info .txtBox{
		padding: 10px 6px 30px;
	}
	.info img{
		display: block;
	}
	.infoBack_btn{
		display: none;
	}
	@media screen and (min-width: 1441px){
		.info{
			margin-left: 450px;
		}
	}
	@media screen and (min-width: 1921px){
		.info{
			margin-left: 550px;
		}
	}
	@media screen and (max-width: 1280px){
		.info{
			margin-left: 300px;
		}
	}
	@media screen and (max-width: 1023px){
		.info{
			margin-left: 270px;
			padding: 65px 16px;
		}
		.info .photoBox {
		    padding: 6px 0;
		}
	}
	@media screen and (max-width: 768px){
		.info{
			margin-left: 0;
			padding: 16px 16px 30px;
		}
		.infoBack_btn{
			display: inline-block;
			margin-top: 20px;
		}
	}
	@media screen and (max-width: 480px){
		.info .photoBox .col50{
			width: 100%;
		}
		.info .txtBox {
		    padding: 10px 6px 20px;
		}
	}
/* ----------RWD------------ */

	@media screen and (min-width: 1441px){

	}
	@media screen and (max-width: 1280px){
		
	}
	@media screen and (max-width: 1024px){
		
	}
	@media screen and (max-width: 960px){
		
	}
	@media screen and (max-width: 768px){
		
	}
	@media screen and (max-width: 620px){
		
	}
	@media screen and (max-width: 560px){
		
	}
	@media screen and (max-width: 480px){
		
	}
	@media screen and (max-width: 420px){
		
	}